.background-image {
  background-size: cover;
  background-position: center;
  height: 200px; /* Ajusta la altura según tus necesidades */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Asegúrate de que la imagen esté detrás del contenido */
}

ion-grid {
  z-index: 10;
  margin-top: 100px; /* Ajusta el margen superior para que el contenido no se superponga con la imagen */
}

p {
  margin-top: 90px;
}


alinear {
  align-self: flex-end;
}



