<ion-img
  src="assets/icon/Icono.png"
  style=""
/>
<div>
  <ion-input
    [counterFormatter]="customCounterFormatter"
    [counter]="false"
    id="username"
    label="Usuario"
    labelPlacement="floating"
    maxlength="50"
    type="text"
  />
  <ion-input
    [counterFormatter]="customCounterFormatter"
    [counter]="false"
    id="password"
    label="Contraseña"
    labelPlacement="floating"
    maxlength="50"
    type="password"
  />
  <ion-input
  [counterFormatter]="customCounterFormatter"
  [counter]="false"
  id="password2"
  label="Repita la contraseña"
  labelPlacement="floating"
  maxlength="50"
  type="password"
/>
<ion-button shape="round">Crear cuenta</ion-button>
  <span style="display: block; text-align: center; margin-top: 10px;">
    <a href="/inicio-sesion">¿Ya tienes una cuenta? Inicia sesión</a>
  </span>
</div>
