<ion-grid>
    <ion-row>
        <ion-col size="4" style="margin:auto;">
            <ion-img [src]="imagen"/>
            <p>{{nombre}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6" style="margin:auto;">
          <ion-segment value="cuentas" [(ngModel)]="segmento" (ionChange)="onSegmentChange($event)">
            <ion-segment-button value="cuentas">
              <ion-label>Cuentas</ion-label>
            </ion-segment-button>
            <ion-segment-button value="division">
              <ion-label>Division</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
    </ion-row>
  <ion-row>
        <ion-col size="10" style="margin:auto; height: 2000px">
          <div *ngFor="let producto of productos">
            <app-producto></app-producto>
          </div>


          <ng-content *ngIf="segmento === 'cuentas'">

            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
          </ng-content>
          <ng-content *ngIf="segmento === 'division'">
            <app-tarjeta-amigos></app-tarjeta-amigos>
            <app-tarjeta-amigos></app-tarjeta-amigos>
            <app-tarjeta-amigos></app-tarjeta-amigos>
            <app-tarjeta-amigos></app-tarjeta-amigos>
          </ng-content>
        </ion-col>
    </ion-row>
</ion-grid>
