
<ion-img
  src="assets/icon/Icono.png"
    style=""
/>
<div>
  <ion-input
    id="username"
    label="Usuario"
    labelPlacement="floating"
    [counter]="false"
    maxlength="50"
    [counterFormatter]="customCounterFormatter"
    type="text"
  />
  <ion-input
    id="password"
    label="Contraseña"
    labelPlacement="floating"
    [counter]="false"
    maxlength="50"
    [counterFormatter]="customCounterFormatter"
    type="password"
  />
  <ion-button href="/" shape="round">Iniciar sesión</ion-button>
  <ion-button shape="round">Crear cuenta</ion-button>
</div>
