<ion-card (click)="cliqueado()">
  <ion-card-header style="margin-top: -10px;">
    <div class="divMismaLinea ">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-avatar>
              <img alt="Foto de la cuenta" [src]="persona.avatar" />
            </ion-avatar>
          </ion-col>
          <ion-col size="6  ">
            <div class="centrarTexto">
              <ion-card-title>{{ persona.userName }}</ion-card-title>
            </div>
          </ion-col>
          <ion-col *ngIf="deve !== null">
            <div style="display: block; border-radius: 10%; padding: 6px; width: fit-content; background-color: {{getColor()}};">
              {{getMensaje()}} {{deve}}€
            </div>
          </ion-col>
          <ion-col size="1" *ngIf="seleccionado !== null" style="margin: auto">
            <ion-checkbox [(ngModel)]="seleccionado"></ion-checkbox>
        </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-header>
</ion-card>
