<ion-img
  src="assets/icon/Icono.png"
  style=""
/>
<div>
  <ion-input
    [counterFormatter]="customCounterFormatter"
    [counter]="false"
    id="username"
    label="Usuario"
    labelPlacement="floating"
    maxlength="50"
    type="text"
  />
  <ion-input
    [counterFormatter]="customCounterFormatter"
    [counter]="false"
    id="password"
    label="Contraseña"
    labelPlacement="floating"
    maxlength="50"
    type="password"
  />
  <ion-button href="/home" shape="round">Iniciar sesión</ion-button>
  <ion-button href="/registro" shape="round">Crear cuenta</ion-button>
  <a href="/recuperacion"><span style="text-align: center">¿Olvidaste tu contraseña?</span></a>
</div>
