<ion-content>
    <ion-grid class="ion-color-defecto">
        <ion-row>
            <ion-col size="4" style="margin:auto;">
                <ion-img [src]="cuenta.imagen"/>
                <p>{{ cuenta.nombre }}</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="8" style="margin:auto;">
                <ion-segment (ionChange)="onSegmentChange($event)" [(ngModel)]="segmento" value="cuentas">
                    <ion-segment-button value="cuentas">
                        <ion-label>Cuentas</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="division">
                        <ion-label>Division</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="personas">
                        <ion-label>Personas</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>

        <ion-row>

            <ion-col size="10" style="margin:auto;">
                <div *ngIf="segmento === 'cuentas'">
                    <div *ngFor="let producto of cuenta.productos">
                        <app-producto [producto]="producto"></app-producto>

                    </div>
                </div>
                <div *ngIf="segmento === 'division'">
                    <p>Total {{ getTotal() }}€ <br>
                        Por persona {{ cuenta.porPersona }}€</p>
                    <app-tarjeta-amigos *ngFor="let persona of cuenta.personas" [persona]="persona" ></app-tarjeta-amigos>
                </div>
                <div *ngIf="segmento === 'personas'">
                    <app-tarjeta-amigos *ngFor="let persona of cuenta.personas" [paraSeleccionar]="true" [persona]="persona" ></app-tarjeta-amigos>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<app-boton-agregar *ngIf="segmento !== 'personas'" (click)="agregarProducto()" textoAyuda=""></app-boton-agregar>

<ion-fab *ngIf="segmento === 'personas'" horizontal="end" vertical="bottom" slot="fixed" style="margin-bottom: 60px">
    <ion-fab-button >
        <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>
<app-footer></app-footer>
