<ion-content>
  <ion-grid class="ion-color-defecto">
    <ion-row>
      <ion-col size="4" style="margin:auto;">
        <ion-img [src]="imagen"/>
        <p>{{ nombre }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
    <ion-row>
      <ion-col size="10" style="margin:auto;">
        <p>Total {{ getTotal() }}€ <br>
          Por persona {{ getPorPersona() }}€</p>

        <app-tarjeta-amigos [deve]="12"></app-tarjeta-amigos>
        <app-tarjeta-amigos [deve]="-12"></app-tarjeta-amigos>
        <app-tarjeta-amigos [deve]="12"></app-tarjeta-amigos>
        <app-tarjeta-amigos [deve]="41"></app-tarjeta-amigos>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-boton-agregar routerLink="/producto/crear" textoAyuda=""></app-boton-agregar>

<app-footer></app-footer>
