<div style="display: flex; background: #1E1E1E;">
    <ion-searchbar [debounce]="1000" placeholder="Buscar amigo" (ionInput)="handleInput($event)"></ion-searchbar>
    <ion-img style="width: 50px" src="/assets/img/icons8-campana-96.png" routerLink="/notificaciones"/>
</div>

<ion-content>
    <app-tarjeta-amigos *ngFor="let amigo of amigos" [persona]="amigo"></app-tarjeta-amigos>
</ion-content>
<app-boton-agregar [textoAyuda]="'Ingrese nombre de usuario'"></app-boton-agregar>

<app-footer></app-footer>
