<ion-searchbar [debounce]="1000" placeholder="Bucar cuenta" (ionInput)="handleInput($event)"></ion-searchbar>

<ion-card>
  <ion-card-header>
    <div>
      <ion-img src="assets/img/playa.jpg"/>
      <ion-card-title>Cuenta X</ion-card-title>
      <div>
        <ion-card-subtitle class="precio">Card Subtitle</ion-card-subtitle>
      </div>
    </div>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>



